<h1>Edit Event</h1>

<%= form_with(model: @event, url: event_path(@event), method: :patch) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.submit 'Update Event' %>
  </div>
<% end %>
