<h1>Create a New Event</h1>

<%= form_with(model: @event, url: events_path, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.submit 'Create Event' %>
  </div>
<% end %>
